/* 
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50px;
  background-color: rgb(21, 30, 35);
  transition: all 0.3s ease-in-out;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 20px 0;
  cursor: pointer;
  transition: color 0.3s;
}

.sidebar-item:hover {
  color: red;
}

.ion {
  font-size: 24px;
}

@media (max-width: 768px) {
  .left {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    z-index: 1000;
  }

  .sidebar-item {
    margin: 0;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ion {
    font-size: 20px;
  }
} */
